<!DOCTYPE html>
<html>
  <head>
    <title>PollingApp</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div>
      <% if user_signed_in? %>
        Welcome <%= current_user.email %>
        <%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %>
      <% else %>
        please 
        <%= link_to 'Login', new_user_session_path %> 
        or 
        <%= link_to 'Sign Up', new_user_registration_path %>
      <% end %>
    </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
